body h1 {
	color: black;
	background-color: white;
	background-attachment: fixed;
    background-position: top;
    padding: 10px;
}

body {
	background-image: url('https://getwallpapers.com/wallpaper/full/a/9/f/142570.jpg');
	background-size: 100%, 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

	font-family: monospace;
	margin: 5;
}

body ol li{
	color: white;
	background-color: rgba(128, 128, 128, 0.2);
	padding: 5px;
}

nav ul {
	margin: 0;
}

nav ul {
	background: none;
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	padding: 5px 5px;
}

button {
	background-color: transparent;
	color: white;
  	border: 2px solid white;
  	padding: 16px 32px;
  	text-align: center;
  	font-size: 16px;
  	margin: 4px 2px;
  	opacity: 0.9;
  	transition: 0.3s;
}

button:hover {
	background-color: white;
  	color: black;
}

nav ul a {
	color: white;
}

p {
	background-color: rgba(128, 128, 128, 0.1);
	color: white;
	padding: 10px;
}

footer {	
	position: fixed;
	bottom: 0;
}